@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
:root{
    --background-color: #e5e5e5;
}
*{
    font-family: 'Acme', sans-serif;
}
body{
    background-color:var(--background-color);
    border: 1px solid black;
    height: 97vh;
}
#app-container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-width: 500px;
    margin: auto;
}
h1{
    margin: 3rem 0;
    text-align: center;
    max-width: 100%;
}
#dob{
    border: none;
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    margin: 5px auto;
    margin-bottom: 10px;
}
#check-btn{
    max-width: 100px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: auto;

}
#output{
    padding: 1rem;
    width: 97%;
    margin: auto;
    margin-top: 10px;
    border-radius: 0.5rem;
    text-align: center;
    background-color: white;
}
#check-btn:hover{
    background-color: rgba(206, 205, 205, 0.788);
}